
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>showPage</title>
</head>
<body>
    <div> 
        @for (int i = 0; i < 5; i++)
        {
            <br />
            <h1>@i</h1>
        }
    </div>
</body>
</html>
